{% extends 'layout-admin.html' %}
{% load static%}
{% load crispy_forms_tags %}

{% block title %}
    <title> Dashboard-Admin | AcademicEarth</title>
{% endblock title%}

{% block content %}
<div class="container-fluid">
    <div class="message">
        {% include 'message.html' %}
    </div>
    <div class="header">
        <h1>Enquiries</h1>
    </div>
    <div class="row">
        <div class="col-md-12 mx-auto">
            <section class="mt-3">
        <div class="row">
            <div class="col-md-11 mx-auto shadow">
                <table class="table">
                    <thead>
                    <tr>
                    <th>Fullname</th>
                    <th>Email</th>
                         <th>Phone</th>
                         <th>Message</th>
                    </thead>
                    </tr>
                    <tbody>
                    {% for i in results %}
                    <tr>
                        <td>{{i.fullname}}</td>
                        <td>{{i.email}}</td>
                        <td>{{i.phone}}</td>
                          <td>{{i.message}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
        </div>
    </div>


</div>

{% endblock content %}