{% extends 'layout-student.html' %}
{% load static%}
{% load crispy_forms_tags %}

{% block title %}
<title> Dashboard-Student | AcademicEarth</title>
{% endblock title%}

{% block content %}
<div class="container-fluid" style="min-height:50vh;">
    <div class="message">
        {% include 'message.html' %}
    </div>
    <div class="row">
        <div class="header">
            <h3>My Modules</h3>
        </div>
        <div class="col-md-9 mx-auto">
            <div class="row justify-content-center">
                    {% for result in results %}
                    <div class="card col-md-5 shadow  m-3">
                        <div class="card-body">
                            <h5 class="card-title">{{result.module.module_code}}-{{result.module.module_name}}</h5>
                            <p class="card-text">Course: {{result.module.course.course_name}}</p>
                            <p class="card-text">Semester: {{result.module.semester}}</p>
                            <p class="card-text" id="">About Module: {{result.module.module_desc|slice:":100"}}.....</p>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'show_module_details_student' result.module.id %}" class="btn btn-success btn-sm">View
                                Details</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
        </div>
    </div>
</div>

{% endblock content %}