{% extends 'layout-student.html' %}
{% load static%}
{% load crispy_forms_tags %}

{% block title %}
<title> Dashboard-Student | AcademicEarth</title>
{% endblock title%}

{% block content %}
<div class="container-fluid">
    <div class="message">
        {% include 'message.html' %}
    </div>
    <div class="header">
        <h1>Fees - {{request.user.profile.course.course_name}} - Batch {{request.user.profile.batch}} </h1>
    </div>
    <div class="row">
            <div class="col-md-12 mx-auto">
                <div class="row justify-content-center">
                    {% for result in results %}
                    <div class="card col-md-3 shadow  m-3">
                        <div class="card-body">
                            <h5 class="card-title">{{result.course.course_name}}</h5>
                            <p class="card-text">Semester: {{result.semester}}</p>
                            <p class="card-text">Batch: {{result.batch}}</p>
                            <p class="card-text">Fee: Rs {{result.fee}}</p>
                        </div>
                        <div class="card-footer">
                           <p class="card-text">Clearance date: {{result.clearance_date}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
    </div>
</div>
{% endblock content %}